.header {
  padding: 15px 30px;
  position: fixed;
  height: var(--headerHeight);
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 9999;
  border-bottom: 2px solid #fff;
  &__title {
    margin-right: 25px;
  }
}